[project]
	description = swg
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/stereocollis
[access "refs/for/refs/*"]
	read = group user/stereocollis
	push = group user/stereocollis
	label-Code-Review = -2..+2 group user/stereocollis
	label-Verified = -1..+1 group user/stereocollis
	rebase = group user/stereocollis
	removeReviewer = group user/stereocollis
	submit = group user/stereocollis
[access "refs/heads/*"]
	read = group user/stereocollis
	create = group user/stereocollis
	push = +force group user/stereocollis
	pushMerge = group user/stereocollis
[access "refs/tags/*"]
	push = group user/stereocollis
	push = +force group user/stereocollis
